*.pb.go
*.png
*.jpg
.idea/
.vscode/
*.ipynb
cmd/benchmark/.ipynb_checkpoints
.DS_Store

cluster/__pycache__/

cmd/keynode/keynode
cmd/manager/manager
cmd/routing/routing
cmd/monitor/monitor
cmd/worker/worker
client/client
cmd/cli/cli
cmd/benchmark/benchmark
cmd/benchmark/benchmarks.txt

config/tasc-config.yml

logs/
*.log
pids
stats/
