*.pb.go
*.png
*.jpg
.idea/
.vscode/
*.ipynb
benchmark/.ipynb_checkpoints
.DS_Store

cluster/__pycache__/

cmd/keynode/keynode
cmd/aftsi/aftsi
cmd/routing/routing
client/client
cli/cli
benchmark/benchmark
benchmark/benchmarks.txt

logs/
*.log
pids
